/* Main class */
.navbar-writerflow {
  // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  // background: white;
  color: white;
  transition: all 0.3s ease;
  display: flex;
  height: 70px;
  width: 100%;
  // padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  position: absolute;
  #logo-holder{
    height: 7em;
    img{
      width: 5em;
      padding-top: 2.5em;
      margin-left: 0;
    }
  }
  #nav-container{
    width: 73%;
    #logo-holder{
      img{
        padding-top: 1em;
        margin-left: -2em;
      }
    }

  }
}

.back-arrow{
  width: 6%;
}
