html {
    margin: 0;
    min-height: 100%;
}
body {
  font-family: $base-font;
  color: #141414;
  font-size: 18px;
}

.section-header{
  font-weight: bolder;
  text-transform: uppercase;
  color: #B3B3B3;
}

.is-flex { display: flex; }

.a-separator {
    background: $metro-blue;
    margin: 0 20px;
    height: 10px;
    width: 1px;
    border: 0;
}

// Paddings
.padded {
  padding: 1em;
}

.spacing {
  height: 100px;
}
