.page {
  padding-top: 20%;

}
.logo {
  position: relative;
  font-size: 1.2em;
  bottom: 2em;
  color: $gray;
  font-family: $base-font;
}

.slogan {
  h1{
    font-size: 3em;
    font-weight: 100;
    color: #FFFFFF;
    -webkit-animation: fadein20 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein20 1s; /* Firefox < 16 */
     -ms-animation: fadein20 1s; /* Internet Explorer */
      -o-animation: fadein20 1s; /* Opera < 12.1 */
         animation: fadein20 1s;
  }

}

.tagline {
  padding-top: 1.5em;
  p{
    font-size: 1em;
    line-height: 1em;
    color: $gray;
    font-family: $base-font;
    font-weight: 400;
  }

}
.content{
  position: relative;
  z-index: 2;
  margin:0 auto;
  padding-top: 2em;
}


.social {
  position:relative;
  top: 3em;
  color: $gray-lighter;
  i {
    font-size: 2em;
  }
  a {
    color: $white;
    &:hover {
      color: $code-red;
    }
  }
}

.value {
  color: rgb(210, 210, 210);
  &-item {
    padding: 0.5em;
  }
}
