<div class="col-xs-12 text-center padded" id="staytuned">
  <div class="screencontent-holder">
    <h2 class="section-heading">Become an expert content writer  <%= image_tag "fish.png", class:"floating", id: "fish" %></h2>
    <div id="staytuned">
      <p>

      </p>
      <p id="disclaimer">No spam fam!</p>
    </div>
    <!-- FOR DESKTOP -->
    <div class="socialmedia hidden-xs">
      <a href="https://twitter.com/intent/follow?screen_name=antoninarcher"><i class="fa fa-twitter"></i></a>
      <a href="https://www.facebook.com/antoninarcher" target="_blank"><i class="fa fa-facebook-official"></i></a>
    </div>
    <!-- FOR SMARTPHONES -->
    <div class="socialmedia visible-xs">
      <script src="https://platform.twitter.com/widgets.js"></script>
      <a href="https://twitter.com/intent/follow?screen_name=antoninarcher"><i class="fa fa-twitter"></i></a>
      <a href="https://www.facebook.com/antoninarcher" target="_blank"><i class="fa fa-facebook-official"></i></a>
    </div>
    <div>antoarcher@gmail.com</div>
  </div>
</div>
