<div class="col-xs-12 text-center padded" id="staytuned">
  <div class="screencontent-holder">
    <h2 class="section-heading">Become an expert content writer  <%= image_tag "fish.png", class:"floating", id: "fish" %></h2>
    <div id="staytuned">
      <p>
         <!-- Newsletter -->
        <div id="newsletter" class="padded">
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
            <form action="//antoninarcher.us12.list-manage.com/subscribe/post?u=ba425192c8ef6bf8da40f9b02&amp;id=37ddf09565" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">

              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email" required>
                  <input type="submit" value="Join!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary is-outlined">
                </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_ba425192c8ef6bf8da40f9b02_37ddf09565" tabindex="-1" value="">
                </div>

            </form>
          </div>

  <!--End mc_embed_signup-->
        </div>
      </p>
      <p id="disclaimer">No spam fam!</p>
    </div>
    <!-- FOR DESKTOP -->
    <div class="socialmedia hidden-xs">
      <a href="https://twitter.com/intent/follow?screen_name=antoninarcher"><i class="fa fa-twitter"></i></a>
      <a href="https://www.facebook.com/antoninarcher" target="_blank"><i class="fa fa-facebook-official"></i></a>
    </div>
    <!-- FOR SMARTPHONES -->
    <div class="socialmedia visible-xs">
      <script src="https://platform.twitter.com/widgets.js"></script>
      <a href="https://twitter.com/intent/follow?screen_name=antoninarcher"><i class="fa fa-twitter"></i></a>
      <a href="https://www.facebook.com/antoninarcher" target="_blank"><i class="fa fa-facebook-official"></i></a>
    </div>
    <div>antoarcher@gmail.com</div>
  </div>
</div>
