<header class="navbar is-shadowed headroom headroom--pinned headroom--top">
  <div class="container navbar-container">
  <div class="is-flex">
    <div class="navbar-logo">

      <!-- LOGO -->
      <% link_to "/" do %>
        <span class="navbar-logo-typo">Writerflow  </span>
      <% end %>
    </div>


    <!-- useless so far -->
    <div class="navbar-menu">
      <div class="navbar-menu-item">
        <%= link_to "Contact", "#footer" %>
      </div>
      <hr class="a-separator">

      <!-- team presentation page -->
      <div class="navbar-menu-item">
      <!-- Make this into a button -->
        <%= link_to "Join", "#footer" %>
      </div>
    </div>

  </div>




  </div>
</header>
