<div class="navbar-writerflow">
  <div class="container" id="nav-container">
    <div class="row" id="mobile-row">
      <div class="col-xs-6 col-sm-3">
          <div id="logo-holder">
            <p>Writerflow</p>
          </div>
      </div>
      <div class="col-xs-6 col-sm-9">
        <div class="hidden-xs" id="menu-holder">
          <!-- DESKTOP MENU -->
          <ul class="list-inline" id="menu">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
